############################
# OS / Editor Files
############################
.DS_Store
Thumbs.db
.idea/
.vscode/
.lvimrc
.clang_complete
*.kate-swap
*.autosave
*.swp
*.suo
*.user
*.sln.docstates
*.pidb
*.scc

############################
# Environment / Config Files
############################
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.otml

############################
# Visual Studio
############################
.vs/
vc16/.vs/
**.sln
**.vcxproj
**.vcxproj.user
vc16/DirectX/
vc16/OpenGL/
vc16/Debug*/
vc16/otclient/*/Debug*/
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

############################
# Build & Compilation Output
############################
build/
out/
tmp/
tools/
pdbs/
bin/
*.obj
*.pch
*.pdb
*.ilk
*.meta
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.dll
*.so
*.dylib
*.lib
*.exp
*.a
*.o
*.gch
*.exe
!signtool.exe
*.apk
*.test
*.recipe*
*.gz
*.7z
!tests.7z
!android_libs.7z
*.rar
releases/

############################
# CMake / Project Files
############################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user*
src/framework/graphics/dx/
modules/.project/modules.sublime-workspace

############################
# VCPKG / Dependencies
############################
vcpkg_installed/
vcpkg/
node_modules/
vendor/
go.work
go.work.sum
/.pnp
.pnp.js

############################
# Python
############################
.venv/
venv/

############################
# Test / Coverage
############################
coverage/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
cypress.env.json
cypress/e2e/2-advanced-examples
cypress/screenshots

############################
# PHP / Composer
############################
composer.lock
system/cache/*
!system/cache/index.html
!system/cache/twig/index.html
!system/cache/signatures/index.html
!system/cache/plugins/index.html
system/php_sessions/*
!system/php_sessions/index.html
system/logs/*
!system/logs/index.html
system/data/*
!system/data/index.html
system/pages/downloads.php
plugins/*
!plugins/.htaccess
!plugins/example.json
!plugins/account-create-hint.json
!plugins/account-create-hint
!plugins/email-confirmed-reward.json
!plugins/email-confirmed-reward
landing

############################
# Templates & Images
############################
templates/*
!templates/tibiacom
!templates/kathrine
images/guilds/*
!images/guilds/default.gif
images/editor/*
!images/editor/index.html
images/gallery/*
!images/gallery/index.html
!images/gallery/demon.jpg
!images/gallery/demon_thumb.gif

############################
# Data / Game Files
############################
otclient.map
otclient.layout

############################
# Logs / Backup
############################
*.bak
*.log
tags

############################
# Misc
############################
.local/
